.hero2__title {
  font-family: "Roboto";
  //   font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.2em;
  text-align: center;
  color: rgba(220, 120, 11, 1);
}

.hero2__heading {
  font-family: "Philosopher";
  font-size: 31.25px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  color: #000;
}

.hero2__comment {
  font-family: "Philosopher";
  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000;
}

.hero2__text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000;
}

