.footer {
  background-color: rgba(37, 37, 37, 1);
}

.footer__heading {
  font-family: 'Philosopher';
  font-size: 18px;
  font-weight: 700;
  line-height: 20.16px;
//   text-align: center;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__list {
    margin: 0 auto;
    margin-top: 50px;
}

.footer__item {
  max-width: 262px;
  width: 100%;
  margin-bottom: 20px;
}

.footer__link {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
//   text-align: left;
  color: #fff;
}
